[user]
	name = Adam Mika
	email = mika.adam@gmail.com
[color]
	branch = auto
	diff = auto
	status = auto
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log --pretty=oneline --abbrev-commit --graph --decorate
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	ls = ls-files
	log = log
	cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
[push]
        default = simple
